<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
	<bean id="triangle" class="org.jmagero.springDemo.Triangle">
		<property name="pointA" ref="zeroPoint"/>
		<property name="pointB" ref="firstPoint"/>
		<property name="pointC" ref="secondPoint"/>
	</bean>
	<bean id="zeroPoint" class="org.jmagero.springDemo.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
   </bean>
	<bean id="firstPoint" class="org.jmagero.springDemo.Point">
		<property name="x" value="-20"/>
		<property name="y" value="0"/>
   </bean>
	<bean id="secondPoint" class="org.jmagero.springDemo.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
   </bean>

</beans>